/* Apply background image only for login page */
.login-page {
  background-image: url("../assets/Apps for finance management.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Default page style without background */
.default-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
